


<%# Need to create error message to show if there is an error %>

<div class="row">
  <form class="col s12" action='signup' method='post'>
    <div class="row">
      <div class="input-field col s9">
        <input name='username' placeholder="Username" id="username" type="text" class="validate" required minlength='3'>
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s9">
        <input name ='email' id="email" type="email" class="validate" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s9">
        <input name='password' id="password" type="password" class="validate" required minlength='5'>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s9">
        <input name='passwordConfirmation' id="password" type="password" class="validate" required minlength='5'>
        <label for="password">Password Confirmation</label>
      </div>
    </div>
    <button type="submit" name="action">Sign Up
    </button>
  </form>
</div>
