<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">RestaurantReviewOnline</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/signin">Sign in</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="/reviews">Reviews</a></li>
      <li class="tab"><a class="active" href="#test2">Create Review</a></li>
    </ul>
  </div>
</nav>
