<h1 class="home-page-header">Home Page</h1>

<p class="home-welcome">Welcome to RestaurantReviewOnline, You’re probably already aware that in today’s age, diners can quickly become online critics.

They’re posting online ratings and reviews of restaurants on multiple sites and making personal recommendations not only to friends and family, but also to whole world.

To stay competitive, you must not only be able to cook a great meal; you must also be savvy outside the kitchen and engage online with customers, protect your business reputation, and stay on top of what diners are saying on the Web.</p>
