<div class="row">
  <form class="col s11" action='/signin' method="post">
    <div class="row">
      <div class="input-field col s9">
        <input id="email" name="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s9">
        <%# DON'T FORGET TO PUT NAME ATTRIBUTE!!! %>
        <input id="password" name="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button type="submit" name="action">Sign In
    </button>
  </form>
</div>
