<h2 class="page-header">Create New Restaurant</h2>

<div class="row">
  <form class="col s12" action="new" method="post">
    <div class="row">
      <div class="input-field col s9">
        <input id="first_name" type="text" name="name" class="validate">
        <label for="first_name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s9">
        <input id="last_name" type="text" name="cuisine" class="validate">
        <label for="last_name">Cuisine</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s9">
        <input id="last_name" type="text" name="location" class="validate">
        <label for="last_name">Location</label>
      </div>
    </div>
    <div class="row">
      <button type="submit" name="action">Create
      </button>
    </div>
  </form>
</div>
